<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Services - <%= brand %></title>
    <meta name="description" content="<%= desc %>">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/"><%= brand %></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li><a href="/upload">Upload</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page service-page">
        <section class="clean-block clean-services dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Files</h2>
                    <p>Here are all the files you have uploaded. They can be downloaded by anyone with the link, so keep it private (unless you want it public).</p>
                </div>
            </div>
            <style>
                .table-responsive {
                    margin-left: 5%;
                    margin-right: 5%;
                    margin-bottom: 18.3%;
                }
            </style>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Download Link</th>
                            <th>Downloads</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% sql.forEach(function (data){ %> 
                        <tr>
                            <td><%= data.name %> </td>
                            <td><a href="/download/<%= data.url %> ">Download</a></td>
                            <td><%= data.amount %> </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© <%= new Date().getFullYear() %> <%= copy %></p>
        </div>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="/assets/js/vanilla-zoom.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>