<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Upload - <%= brand %></title>
    <meta name="description" content="<%= desc %>">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/"><%= brand %></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto"></ul>
            </div>
        </div>
    </nav>
    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info"><%= name %> is Password protected</h2>
                    <p></p>
                </div>
                <style>
                    input {
                        text-align: center;
                        margin-left: 40%;
                        margin-bottom: 5px;
                    }

                    main {
                        margin-bottom: 17.5%;
                    }
                </style>
                <form method="post" encType="multipart/form-data" action="/pass/download">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="password" placeholder="File Password" name="password" class="form-control form-control-user" >
                        <input type="text" hidden value="<%= id %>" name="id" class="form-control form-control-user" >
                    </div>
                    
                    <button class="btn btn-primary" type="submit" name="file" style="margin: auto;display: grid;">Upload</a>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© <%= new Date().getFullYear() %> <%= copy %></p>
        </div>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="/assets/js/vanilla-zoom.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>